body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
  font-family: 'Open Sans', sans-serif;
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}

.artist {
  width: 400px;
  height: 300px;
}
